{{setYUIModule "MAC-home"}}
{{setDescription "Malcolm MacLeod & Corrie Gailey are getting married on April 30th, 2016 in Gordons Bay."}}
{{addCSS "/css/home.css"}}

<div class="wedding-header">
    <img class="wedding-invitation-image" src="/img/header_small.jpg" alt="Wedding invitation">
</div>
<div class="bottom-wrapper">
<div class="scroll-for-more-info">
Scroll down for more information <span class="chevron"/> <span class="chevron"/>
</div>
<div class="wedding-more-info">
Click here for more information
</div>
</div>

