{{setYUIModule "MAC-home"}}
{{setDescription "Malcolm MacLeod & Corrie Gailey are getting married on April 30th, 2016 in Gordons Bay."}}
{{addCSS "/css/home.css"}}

<div class="wedding-header">
    <img class="wedding-invitation-image" src="/img/header_small.jpg" alt="Wedding invitation">
</div>
<div class="bottom-wrapper">
<a class="scroll-for-more-info" href="#bottom">Scroll for more information</a><span class="chevron"/>
<br/>
<br/>
<div class="wedding-timeline">
	<div class="wedding-timeline-item">
		<span class="wedding-timeline-event">
		Wedding
		</span>
		<span class="wedding-timeline-date">
		30 April 2016
		</span>
		<span class="wedding-timeline-description">
		Finally the wedding.
		<span class="wedding-more-info">Click here for more information</span>
		</span>
	</div>
</div>

<div class="wedding-more-info">
Click here for more information
</div>
<span id="bottom"/>
</div>

