{{setYUIModule "MAC-home"}}
{{setDescription "Malcolm MacLeod & Corrie Gailey are getting married on April 30th, 2016 in Gordons Bay."}}
{{addCSS "/css/home.css"}}

<div class="wedding-header">
    <img class="wedding-invitation-image" src="/img/header_small.jpg" alt="Wedding invitation">
</div>
<div class="bottom-wrapper">
<a class="scroll-for-more-info" href="#bottom">Scroll for more information</a><span class="chevron"></span>
<br/>
<br/>
<div class="wedding-timeline">
	<div class="wedding-timeline-item">
		<span class="wedding-timeline-event">
		Wedding
		</span>
		<span class="wedding-timeline-date">
		30 April 2016
		</span>
		<div class="wedding-timeline-icon"><img src="/img/wedding.jpg"/></div>
		<br/>
		<br/>
		<span class="wedding-timeline-description">
		Finally with the transplant(s) out the way Malcolm runs out of excuses and Corrie runs out of patience, and so after over 11 years of waiting 
		a wedding date is finally agreed upon. And so it is our pleasure to invite you to attend our wedding ceremony on Saterday the 30th April 2016 
at the Harold Porter National Botanical Gardens in Betty's Bay, and our reception in Gordons Bay,.
		</span>
		<br/>
		<br/>
		<a class="wedding-more-info">Click here for more information</a>
		<br/>
		<br/>
		<a class="wedding-rsvp-now">Click here to RSVP</a>
	</div>
        <div class="wedding-timeline-item">
                <span class="wedding-timeline-event">
                Life
                </span>
		<div class="wedding-timeline-icon"><a href="https://www.odf.org.za/"><img src="/img/ODF.jpg"/></a></div>
                <p class="wedding-timeline-description">
	        Various chaotic life events ensue, moving to Cape Town, dialysis, transplant take place, despite the best of intentions the wedding keeps getting put off "another year" with other things taking priority.
                </p>
        </div>
	<div class="wedding-timeline-item">
                <span class="wedding-timeline-event">
                Engagement
                </span>
                <span class="wedding-timeline-date">
                8 January 2008
                </span>
		<div class="wedding-timeline-icon"><img src="/img/ring.png"/></div>
		<br/>
		<br/>
                <span class="wedding-timeline-description">
		Malcolm proposes to Corrie with the intention that they will get married relatively soon.
		</span>
        </div>
	<div class="wedding-timeline-item">
                <span class="wedding-timeline-event">
                First date
                </span>
                <span class="wedding-timeline-date">
                3 September 2004
                </span>
		<div class="wedding-timeline-icon"><img src="/img/cocktail.png"/></div>
		<br/>
		<br/>
                <span class="wedding-timeline-description">
		After years of chatting on IRC, Corrie suggests a meetup, first via subtle hints and eventually by all but outright demanding it.<br/>
		Eventually Malcolm gives in and the two meet up for a first date.  
		</span>
        </div>
        <div class="wedding-timeline-item">
                <a class="wedding-timeline-event" href="https://en.wikipedia.org/wiki/Internet_Relay_Chat">
                IRC (Internet Relay Chat)
                </a>
                <span class="wedding-timeline-date">
                2001
                </span>
		<img class="wedding-timeline-icon" src="/img/IRC.jpg" href="https://en.wikipedia.org/wiki/Internet_Relay_Chat"/>
		<br/><br/>
                <span class="wedding-timeline-description">
                One day in an IRC channel dedicated to online gaming user Cazz (Corrie) randomly starts a chat with user MaNI (Malcolm).<br/>
		Undeterred by Malcolm's initial response which is something along the lines of "Is there something I can help you with?" Corrie continues to chat.<br/>
		Over the next few years the two randomly chat on occasion with large intervals of time in between.
		</span>
        </div>
	<span class="wedding-timeline-stretch"></span>
</div>

<span id="bottom"></span>
</div>

