{{setYUIModule "MAC-home"}}
{{setDescription "Malcolm MacLeod & Corrie Gailey are getting married on April 30th, 2016 in Gordons Bay."}}
{{addCSS "/css/home.css"}}

<div class="wedding-header">
    <img class="wedding-invitation-image" src="/img/header_small.jpg" alt="Wedding invitation">
</div>
<div class="bottom-wrapper">
<a class="scroll-for-more-info" href="#bottom">Scroll for more information</a><span class="chevron"/>

<div class="wedding-more-info">
Click here for more information
</div>
</div>

