{{setYUIModule "MAC-home"}}
{{setDescription "Malcolm MacLeod & Corrie Gailey are getting married on April 30th, 2016 in Gordons Bay."}}
{{addCSS "/css/home.css"}}

<div class="wedding-more-info">
Click here for more information
</div>

<div class="wedding-header">
 {{#event "Getting Married"
        time   = "April 30th, 2016"
        photo  = "/img/header_small.jpg"
        alt    = "Wedding invitation - Credit: Yvianna 'Zakniteh' Hernandez <zakniteh@gmail.com>"}}
    {{> event/photo}}
  {{/event}}
</div>
<div class="timeline_event">
	<span class="timeline_event_date">April 30th, 2016</span>
	<span class="timeline_event_desc">After xxx years the wedding will finally take place in ...<span>
</div>
<div class="timeline_event">
	<span class="timeline_event_date">xxx</span>
        <span class="timeline_event_desc">Engagement<span>
</div>
<div class="timeline_event">
	<span class="timeline_event_date">yyy</span>
        <span class="timeline_event_desc">First date<span>
</div>
<div class="timeline_event">
        <span class="timeline_event_date">yyy</span>
        <span class="timeline_event_desc">IRC<span>
</div>


