{{setYUIModule "MAC-home"}}
{{setDescription "Malcolm MacLeod & Corrie Gailey are getting married on April 30th, 2016 in Gordons Bay."}}
{{addCSS "/css/home.css"}}

<div class="wedding-header">
 {{#event "Getting Married"
        time   = "April 30th, 2016"
        photo  = "/img/header_small.jpg"
        alt    = "Wedding invitation - Credit: Yvianna 'Zakniteh' Hernandez <zakniteh@gmail.com>"}}
    {{> event/photo}}
    {{> event/time}}
  {{/event}}
</div>

<ol class="timeline l-grid">
  {{#event "Getting Married"}}
    {{> event/header}}
    <p>
        Corrie and Malcolm are getting married April 2016 in <strong>Gordons Bay</strong>.
    </p>
    <p class="button-wedding">
        <a class="button" data-icon="i" href="/wedding/">See Wedding Details</a>
    </p>
    {{> event/time}}
  {{/event}}
</ol>
