{{setPageTitle "Registry"}}
{{setActiveNav "registry"}}
{{addCSS "/css/registry.css"}}

<div class="reg l-contain">
    <h1>Wedding Registry</h1>
    <p>We have not yet created a registry, please watch this space we will add more information here soon!</p>
</div>
