{{setPageTitle "Registry"}}
{{setActiveNav "registry"}}
{{addCSS "/css/registry.css"}}

<div class="reg l-contain">
    <h1>Wedding Registry</h1>

    <p>
        We are registered at <a href="http://www.amazon.com/registry/wedding/3486CYEQP58UF">Amazon</a> and <a href="http://www.crateandbarrel.com/Gift-Registry/Leslie-Verploegen-and-Eric-Ferraiuolo/r5038140">Crate&amp;Barrel</a>, or as an alternative we would be honored to have donations made in our name to charities in which we’re involved.
    </p>

    <div class="l-grid-1-2">
        <div class="reg-place l-grid-u l-contain">
            <a href="http://www.amazon.com/registry/wedding/3486CYEQP58UF">
                <img src="/img/amazon.png">
            </a>
        </div>

        <div class="reg-place l-grid-u l-contain">
            <a href="http://www.crateandbarrel.com/Gift-Registry/Leslie-Verploegen-and-Eric-Ferraiuolo/r5038140">
                <img src="/img/crate_and_barrel.png">
            </a>
        </div>
    </div>

</div>
