{{setPageTitle "Hotels Near Wedding"}}
{{setActiveNav "logistics"}}
{{addCSS "/css/details.css"}}

<div class="l-contain">
    <h1>Staying Near Our Wedding</h1>

    There are an overwhelming number of places to stay in the area, the below are just some examples:
    
    <br/>
    <b><h2>Gordons Bay</h2></b>
    <a href="http://www.capestay.co.za/suburb-accommodation.asp?SuburbID=43">For those who want to be near our house and the reception, there are a huge amount of accomodation choices in the area.</a><br/><br/>
    <a href="https://www.airbnb.com/s/Somerset-West--Cape-Town--South-Africa">Nearby Somerset West and Strand also have a huge variety of options.</a><br/><br/>
    Those who like to travel can also look at options further out Like Stellenbosch or Cape Town itself.
    <br/>
    <br/>
    <br/>
    <br/>
    <b><h2>Bettys Bay</h2></b>
    <a href="http://www.capestay.co.za/accommodation.asp?SuburbID=89&CatID=4">For those who want to be near the ceremony, Betty's Bay and surrounds do also have plenty of accomodation.</a><br/><br/>
    Those who like to travel can also look at options further out like Kleinmond or Hermanus.<br/><br/><br/>
    
    If you have any questions about specific venues or want more specific recommendations contact us and we will be glad to assist!
    
</div>
